.date-selector-container,
.events-error-container {
   &::-webkit-scrollbar {
      width: 0.8rem;
   }

   &::-webkit-scrollbar-track {
      background: transparent;
   }

   &::-webkit-scrollbar-thumb {
      background: var(--bg-clr);
      border-radius: 15px;
   }

   &::-webkit-scrollbar-thumb:hover {
      background: var(--bg-clr);
   }
}

.notes-wrapper {
   &::-webkit-scrollbar {
      width: 0.8rem;
   }

   &::-webkit-scrollbar-thumb {
      background-color: var(--primary-clr);
   }
}
