:root {
   --white: #fff;
   --black: #000;
   --blue: #263d8a;
   --blue-lt: #dce5ff;
   --grey-lt: #d0d0d0;
   --grey: #393e46;
   --grey-ltr: #838383;
   --grey-dk: #222831;
   --red: #CE1818;
   --green: #198F51;

   // --red: #ff2121; old version
   // --green: #00f218; old version
}

.light-mode body {
   --auth-bg-clr: var(--white);
   --auth-title-clr: var(--blue);
   --auth-form-text-color: var(--grey-ltr);
   --auth-redirect-text: var(--black);
   --hamburger-clr: var(--white);
   
   --primary-clr: var(--blue);
   --bg-clr: var(--blue-lt);
   --text-clr: var(--white);
   --success-clr: var(--green);
   --error-clr: var(--red);

   --days-border: var(--white)
}

.dark-mode body {
   --auth-bg-clr: var(--grey);
   --auth-title-clr: var(--grey-lt);
   --auth-form-text-color: var(--grey-lt);
   --auth-redirect-text: var(--grey-lt);
   --hamburger-clr: var(--grey-lt);

   --primary-clr: var(--grey-dk);
   --bg-clr: var(--grey);
   --text-clr: var(--grey-lt);
   --success-clr: var(--green);
   --error-clr: var(--red);

   --days-border: var(--grey-ltr)
}