:root {
   --white: #fff;
   --black: #000;

   --yellow-light: #fff5dc;
   --yellow: #ffbb24;

   --grey-light-slim: #d0d0d0;
   --grey-light: #838383;
   --grey: #393e46;
   --grey-dark: #222831;
   
   --red: #f20000;
   --green: #00f218;
}
