*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

@font-face {
   font-family: "Inter";
   src: url("/public//fonts/Inter-VariableFont_slnt,wght.ttf") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

html {
   font-family: "Inter", sans-serif;
   font-size: 10px;
}

body {
   width: 100%;
   min-height: 100vh;
}

ul > li {
   list-style: none;
}

a,
button {
   font-size: 2.7rem;
   color: var(--text-clr);
   @media (width >= 768px) {
      cursor: pointer;
      font-size: 2rem;
   }
}

a {
   text-decoration: none;
}

button {
   background-color: transparent;
   border: 0;
}

.router-link-active,
.router-link-exact-active {
   opacity: 1 !important;
   text-shadow: 0 0 0.8rem rgba(255, 255, 255, 1);
}

.header-container,
.desktop-nav-container,
.nav-container,
.nav-links,
.nav-options,
.nav-auth-list,
.settings-link,
.auth-container,
.auth-box,
.auth-header,
.redirect-box,
.calendar-header,
.calendar-selector{
   @include default-flex;
}


.previous-enter-from,
.next-leave-to {
  transform: translateX(2rem);
  opacity: 0;
}

.previous-leave-to,
.next-enter-from {
  transform: translateX(-2rem);
  opacity: 0;
}

.previous-enter-to,
.previous-leave-from,
.next-enter-to,
.next-leave-from {
  transform: translateX(0rem);
  opacity: 1;
}

.previous-enter-active,
.previous-leave-active,
.next-enter-active,
.next-leave-active {
  transition: 0.22s ease-in-out;
}

.selector-enter-from {
   transform: scale(0.6);
 }
 
 .selector-enter-to {
   transform: scale(1);
 }
 
 .selector-leave-from {
   opacity: 1;
 }
 
 .selector-leave-to {
   opacity: 0;
 }
 
 .selector-enter-active,
 .selector-leave-active {
   transition: 0.3s ease-in-out;
 }